{% macro propositionCardTiny(params) %}
<!-- TITLE CARD -->
<div class="card rounded-top">
    <div class="title" style="flex-direction: column;">
        {% if params.proposition.document_type %}
        <div class="category">
            {{ params.translations[params.proposition.document_type] }}
        </div>
        {% endif %}
        <div class="padding flex column gap">
            <p class="bold">

                {% if params.proposition.title_summary_nl %}
                <span class="highlight" style="display: inline;">{{ params.proposition.title_summary_nl }}</span>
                {% else %}
                <span style="display: inline;">{{ params.proposition.title_nl }}</span>
                {% endif %}

            </p>
        </div>
    </div>
</div>

<!-- STATUS CARD -->
{% if params.proposition.status %}
<a href="/dossiers/{{ params.proposition.session_id }}/{{ params.proposition.dossier_id }}/" class="proposition-status card rounded-bottom padding">
    <div>
        <p>{{ params.translations[params.proposition.document_type] }}
            {% if params.proposition.status == "Aangenomen" %}
            <span class="topic" style="background-color: #28a745; color: white;">{{ params.translations.passed }}</span>
            {% elseif params.proposition.status == "Verworpen" %}
            <span class="topic" style="background-color: #dc3545; color: white;">{{ params.translations.failed }}</span>
            {% elseif params.proposition.status == "ZonderVoorwerp" %}
            <span class="topic" style="background-color: orange; color: white;">{{ params.translations.withoutSubject }}</span>
            {% endif%}
            {% if params.proposition.vote_date %}op {{ params.proposition.vote_date | date }}{% endif%}
        </p>
    </div>
    {% lucide "chevron-right" %}
</a>
{% endif%}

{% endmacro %}