{% macro questionCardComplete(params) %}
<!-- TITLE -->
<div class="meeting-item card rounded-top">
    {% if params.topic and params.showCategory !== "false" %}
    <div class="category">
        {# {{ params.topics[params.topic].icon or '' }}  #}
        {{ params.topic }}
    </div>
    {% endif %}
    <div class="padding flex column gap">
        <p class="bold">

           <span class="full">
            {% for topic in params.question.topics_nl %}
                {{ topic }}<br>
            {% endfor %}
            </span>
            <span class="summarized highlight" style="display: none;">{{ params.question.topics_summary_nl }}</span>

        </p>
        {% if params.hideAuthors !== "true"%}
        <div class="flex column">
            <!-- QUESTIONERS -->
            {% if (params.question.questioners | length) > 1 %}
            <p>Gesteld door</p>
            <p>
                <span class="questioners">
                    {% for questioner in params.question.questioners %}
                    {% set party = questioner.party | lower %}
                    {% set primaryColor = params.partyColors[party].primary or '#95a5a6' %}
                    {% set secondaryColor = params.partyColors[party].secondary or '#95a5a6' %}
                    <span class="party small" style="font-weight: bold; color: {{ primaryColor }}; background-color: {{ secondaryColor }};">{{ questioner.party }}</span>
                    <span class="questioner"><a href="/members/{{ questioner.name | slugify }}/">{{ questioner.name }}</a></span><br>
                    {% endfor %}
                </span>
            </p>
            {% else %}
            <p>Gesteld door</p>
            <p>
                {% set party = params.question.questioners[0].party | lower %}
                {% set primaryColor = params.partyColors[party].primary or '#95a5a6' %}
                {% set secondaryColor = params.partyColors[party].secondary or '#95a5a6' %}
                <span class="party small" style="font-weight: bold; color: {{ primaryColor }}; background-color: {{ secondaryColor }};">{{ params.question.questioners[0].party }}</span>
                <span class="questioner"><a href="/members/{{ params.question.questioners[0].name | slugify }}/">{{ params.question.questioners[0].name }}</a></span><br>
            </p>
            {% endif %}
            <!-- RESPONDENTS -->
            <p>Aan</p>
            <p>
                {% for respondent in params.question.respondents %}
                {% set function = params.functions[respondent.name] | getActive(params.question.date) %}
                <span class="respondent">{{ respondent.name }}{% if function %} ({{ function.function }}){% endif %}</span>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
        </div>
        {% endif %}
    </div>
</div>

<!-- DISCUSSION TOGGLE -->
<div class="card padding straight" style="border-top: none;">
    <div style="display: flex; gap: 1rem;">
        <p>Bekijk antwoord</p>
        <button class="toggle-discussion" data-proposition="{{ loop.index }}">
            {% lucide "chevron-down" %}
        </button>
    </div>
</div>

<!-- DISCUSSION -->
{% set respondent_names = params.question.respondents | map('name') | list %}
<div class="discussion" style="display: flex; flex-direction: column; gap: 0.5rem;">
    {% for x in params.question.discussion %}
    <div class="message-container">
        <div class="speech
                {% if x.speaker.name in respondent_names %}response
                {% elif x.speaker.name == 'Voorzitter' %}moderator
                {% else %}question{% endif %}">

            {% if x.speaker.name == 'Voorzitter' %}
            <p style="font-weight: bold; margin: 0;" class="capitalize-first">Voorzitter:</p>
            {% else %}
            <p style="font-weight: bold; margin: 0;">{{ x.speaker.name }}:</p>
            {% endif %}

            {% set paragraphs = x.text.trim().split("NEWPARAGRAPH") %}
            <div>
                {% for part in paragraphs %}
                <p>{{ part.trim() }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endmacro %}