{% macro questionCardTiny(params) %}
<!-- TITLE -->
{% if params.question.type === "plenary" %}
<a class="meeting-item card rounded-top" href="/sessions/{{ params.question.session_id }}/meetings/plenary/{{ params.question.meeting_id }}">
    {% if params.topic and params.showCategory !== "false" %}
    <div class="category">
        {# {{ params.topics[params.topic].icon or '' }}  #}
        {{ params.topic }}
    </div>
    {% endif %}

    <div class="padding flex space-between">
        <p class="bold">

            {% if params.question.topics_summary_nl %}
            <span class="highlight" style="display: inline;">{{ params.question.topics_summary_nl }}</span>
            {% else %}
            <span style="display: inline;">{{ params.question.topics_nl }}</span>
            {% endif %}

        </p>
        {% lucide "chevron-right" %}
    </div>
</a>


{% elif params.question.type === "commission" %}
<a class="meeting-item card rounded-top" href="/sessions/{{ params.question.session_id }}/meetings/commission/{{ params.question.meeting_id }}">
    {% if params.topic and params.showCategory !== "false" %}
    <div class="category">
        {# {{ params.topics[params.topic].icon or '' }}  #}
        {{ params.topic }}
    </div>
    {% endif %}

    <div class="padding flex space-between">
        <p class="bold">

            {% if params.question.topics_summary_nl %}
            <span class="highlight" style="display: inline;">{{ params.question.topics_summary_nl }}</span>
            {% else %}
            <span style="display: inline;">{{ params.question.topics_nl }}</span>
            {% endif %}

        </p>
        {% lucide "chevron-right" %}
    </div>
</a>
{% endif %}

{% endmacro %}