{% macro summaryToggle(translations) %}
<div class="card padding flex column gap">
    <div style="margin-top: 0.2rem; margin-bottom: 0.2rem; display: flex; justify-content: space-between; align-items: center;">
        <p>{{ translations['summarizedVersion'] }}</p>
        <label class="switch">
            <input type="checkbox" id="summaryToggle" />
            <span class="slider round"></span>
        </label>
    </div>

    <details id="summaryExplanation" style="display: none;">
        <summary>Hoe werkt dit?</summary>
        <p>{{ translations['summaryExplanation'] }} <span class="highlight">{{ translations['underlined'] }}</span>.</p>
    </details>
    </div>
{% endmacro %}


