---
layout: layouts/meeting
pagination:
    data: collections.localizedMeetings
    size: 1
    alias: meeting
    addAllPagesToCollections: true
permalink: "sessions/{{ meeting.session_id }}/meetings/plenary/{{ meeting.meeting_id }}/"
eleventyComputed:
    title: "Verslag plenaire vergadering {{ meeting.date | date }} ({{ languages['nl'][meeting.time_of_day] | lower }}) | Federaal Parlement"
    description: "Details van de vergadering op {{ meeting.date | date }} ({{ languages['nl'][meeting.time_of_day] }}), met besproken agendapunten, vragen en stemmingen."
---

<!-- PAGEFIND EXCERPTS -->
<span style="display: none" data-pagefind-body>
  {% for question in meeting.questions %}
     {% for topic in question.topics_nl %}
      {{ topic }}
    {% endfor %}
    {% for discussion in question.discussion %}
      {{ discussion.text | replace("NEWPARAGRAPH", " ") }}
    {% endfor %}
  {% endfor %}
</span>

<!-- COMPONENTS -->
{%- from "components/vote-card.njk" import voteCard -%}
{%- from "components/proposition-card.njk" import propositionCard -%}
{%- from "components/question-card-complete.njk" import questionCardComplete -%}

<h1 data-pagefind-meta="title" class="capitalize-first">Plenaire vergadering op {{ meeting.date | date }}</h1>

<div class="flex column gap">

    <!-- SUMMARY TOGGLE -->
    <div class="card padding" style="margin-bottom: 0.2rem; display: flex; flex-direction: column;">
        <div style="margin-top: 0.2rem; display: flex; justify-content: space-between; align-items: center;">
            <p>{{ languages['nl'].summarizedVersion }}</p>
            <label class="switch">
                <input type="checkbox" id="summaryToggle" />
                <span class="slider round"></span>
            </label>
        </div>
        <details id="summaryExplanation" style="display: none;">
            <summary>Hoe werkt dit?</summary>
            <p>{{ languages['nl'].summaryExplanation }} <span class="highlight">{{ languages['nl'].underlined }}</span>.</p>
        </details>
    </div>

    <!-- INFO -->
    <div class="card padding info-list">
        <div class="info-item">
             <span class="icon-padded">{% icon "lucide:clock" %}</span>
            <p>{{ languages['nl'].From }} {{ meeting.start_time }} {{ languages['nl'].until }} {{ meeting.end_time }} ({{ meeting.start_time | duration(meeting.end_time)
                }})</p>
        </div>
        <div class="info-item">
              <span class="icon-padded">{% icon "lucide:message-circle-question" %}</span>
            <p>{{ meeting.questions.length }} {{ languages['nl'].questions }}, {{ meeting.propositions.length }} {{ languages['nl'].propositions }}, {{ meeting.allVotes.length
                }} {{ languages['nl'].votes }}</p>
        </div>

        <div class="info-item">
              <span class="icon-padded">{% icon "lucide:file-digit" %}</span>
            <p>{{ languages['nl'].source }} <a
                    href="https://www.dekamer.be/doc/PCRI/html/{{ meeting.session_id }}/ip{{ meeting.meeting_id | padLeft(3, '0') }}x.html"
                    target="_blank">dekamer.be</a></p>
        </div>

        {% set attendance = meeting.attendance %}
        {% set attendanceColor = "#ff4c40" %}
        {% if attendance.ratio >= 0.85 %}
        {% set attendanceColor = "#28a745" %}
        {% elif attendance.ratio >= 0.65 %}
        {% set attendanceColor = "#ff4c40" %}
        {% endif %}
        {% if  meeting.allVotes.length > 0 %}
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <p class="bold">{{ languages['nl'].attendance }}</p>
            <p>{{ attendance.count }}/150 ({{ (attendance.ratio * 100) | round(0, 'floor') }}%)</p>
        </div>
        {% else %}
        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 0.5rem;">
            <p class="bold">{{ languages['nl'].attendance }}</p>
            <p>onbekend</p>
        </div>
        {% endif %}
        <div style="border-radius: 5px; background: #e0e0e0; height: 10px; overflow: hidden;">
            <div style="
                    width: {{ (attendance.ratio * 100) | round(0, 'floor') }}%;
                    height: 100%;
                    background-color: {{ attendanceColor }};
                "></div>
        </div>
    </div>
</div>

<!-- SHARE BUTTON -->
<button id="share-button">{{ languages['nl'].shareMeeting }}</button>

<!-- ABSENTEES -->
{% if meeting.absentees.length == 0 %}
{% else %}
{% if meeting.absentees.length == 150 %}
<h2>Afwezigen</h2>
Tenminste de eerste naamstemming was anoniem. Hierdoor kan niet geschat worden welke kamerleden afwezig waren.
{% else %}
<h2>Afwezigen</h2>
De volgende {{ meeting.absentees.length }} kamerleden waren afwezig bij tenminste de eerste naamstemming. Het is mogelijk dat deze kamerleden alsnog aanwezig waren vanaf de tweede naamstemming of later. Het is ook mogelijk dat de kamerleden uitgesloten waren bij de eerste stemming voor een legitieme reden.
<p>
    {% for absentee in meeting.absentees %}
    {% set party = absentee.party | lower %}
    {% set primaryColor = partyColors[party].primary or '#95a5a6' %}
    {% set secondaryColor = partyColors[party].secondary or '#95a5a6' %}
  <span class="party small" style="font-weight: bold; color: {{ primaryColor }}; background-color: {{ secondaryColor }};">{{ absentee.party }}</span>
    <span ><a href="/members/{{ absentee.name | slugify }}/">{{ absentee.name }}</a></span><br>

    {% endfor %}
</p>
{% endif %}
{% endif %}

<!-- QUESTIONS -->
<h2>{{ languages['nl'].Questions }}</h2>
{% if meeting.questions.length == 0 %}
<p>{{ languages['nl'].noQuestions }}</p>
{% else %}
<p>De vragen die gesteld werden tijdens deze vergadering.</p>
<div id="question-list">
    {% for question in meeting.questions %}
    {% set topicCounts = [question] | countTopics(topics) %}
    {% set topic = topicCounts[0][0] %}
    <div class="question-container">
        {{ questionCardComplete({question: question, topic: topic, topics: topics, functions: functions, partyColors: partyColors, translations: languages['nl'], language: nl, nolink: true, showCategory: false }) }}
    </div>
    {% endfor %}
</div>
{% endif %}

<!-- PROPOSITIONS AND DESIGNS -->
<h2>{{ languages['nl'].PropositionsAndDesigns }}</h2>
{% if meeting.propositions.length == 0 %}
<p>{{ languages['nl'].noPropositions }}</p>
{% else %}
<p>De voorstellen en wetsontwerpen die besproken werden tijdens deze vergadering en de bijbehorende stemmingen.</p>

<div id="proposition-list">
    {% for proposition in meeting.propositions %}
        <div class="proposition-container">
            {{ propositionCard({proposition: proposition, partyColors: partyColors, translations: languages['nl'], language: nl }) }}
        </div>
    {% endfor %}
</div>
{% endif %}


<!-- VOTES -->
<h2>{{ languages['nl'].Votes }}</h2>
{% if meeting.allVotes.length == 0 %}
<p>{{ languages['nl'].noVotes }}</p>
{% else %}

<p>Stemmingen niet gelinkt aan een voorstel/ontwerp.</p>

<div id="vote-list">
    {% for vote in meeting.votes %}
    {{ voteCard({ vote: vote, translations: languages['nl'], language: nl }) }}
    <a href="/sessions/{{ vote.session_id }}/meetings/plenary/{{ vote.meeting_id }}/votes/{{vote.vote_id}}/" class="vote-status card rounded-bottom padding">
        <div>
        {{ languages['nl'].Vote }}
        {% if (vote.yes_count | int) > ((vote.no_count | int) + (vote.abstain_count | int)) %}
        <span class="topic" style="background-color: #28a745; color: white;">
            {{ languages['nl'].passed }}
            </span>
        {% else %}
        <span class="topic" style="background-color: #dc3545; color: white;">
            {{ languages['nl'].failed }}
            </span>
        {% endif%}
        </div>
        {% icon "lucide:chevron-right" %}
    </a>
    {% endfor %}
</div>
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const toggle = document.getElementById('summaryToggle');

        const fullElements = document.querySelectorAll('.full');
        const summarizedElements = document.querySelectorAll('.summarized');
        const summaryExplanation = document.querySelector('#summaryExplanation');

        toggle.addEventListener('change', function () {
            const showSummary = this.checked;

            if (showSummary) {
                summaryExplanation.style.display = 'inline';
            } else {
                summaryExplanation.style.display = 'none';
            }

            fullElements.forEach(function (el, index) {
                const summaryEl = summarizedElements[index];

                if (showSummary && summaryEl && summaryEl.textContent.trim() !== '') {
                    el.style.display = 'none';
                    summaryEl.style.display = 'inline';
                } else {
                    el.style.display = 'inline';
                    if (summaryEl) summaryEl.style.display = 'none';
                }
            });
        });
    });
</script>


<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".toggle-votes").forEach(button => {
            button.addEventListener("click", () => {
                const container = button.closest(".proposition-container");
                const voteBlock = container.querySelector(".proposition-votes");

                if (!voteBlock) return;

                const isOpen = voteBlock.classList.toggle("open");

                // Toggle class on the button or svg for rotation
                button.classList.toggle("rotated", isOpen);
            });
        });

        document.querySelectorAll(".toggle-discussion").forEach(button => {
            button.addEventListener("click", () => {
                const container = button.closest(".question-container");
                const discussion = container.querySelector(".discussion");

                if (!discussion) return;

                const isOpen = discussion.classList.toggle("open");

                // Toggle class on the button or svg for rotation
                button.classList.toggle("rotated", isOpen);
            });
        });
    });

</script>
