---
layout: layouts/page
permalink: "newsletter/"
title: "De Nieuwsbrief"
eleventyComputed:
description: "{{ languages['nl'].lobbyDescription }}"
---

<h1>De Nieuwsbrief</h1>

U kan hieronder abonneren op de nieuwsbrief. De nieuwsbrief wordt uitgestuurd na elke plenaire vergadering (maximaal 1x per week) en bevat een samenvatting van de besproken vragen, voorstellen en stemmingen.

<iframe
        src="https://www.rumicat.com/embed/zijwerkenvooru"
        width="100%"
        height="464"
        style="border:none;border-radius:8px;box-sizing:border-box;max-width:100%;min-width:0;"
        frameborder="0"
        title="Newsletter subscription">
</iframe>
