<style>
  .root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e9f1fe;
  }

  .title {
    color: #001d4e;
    font-size: 80px;
    margin: auto 0;
    font-weight: bold;
  }
</style>

<div class="root">
  <h1 class="title">{{ title }}</h1>
</div>