<footer class="flex column" style="gap: 1rem; padding: 1rem 2rem;">
    <div class="mobile-column" style="justify-content: space-between; align-items: start;">
        <!-- LINKS -->
        <div class="flex column links" style="gap: 1rem; margin-bottom: 2rem;">
            <h1>zijwerkenvooru</h1>
            <h3>
                <a href="/{{page.lang}}/about">Over zijwerkenvooru.be</a>
            </h3>
            <h3>
                <a href="/{{page.lang}}/data">Open Data</a>
            </h3>
            <h3>
                <a href="/{{page.lang}}/sessions/56/meetings">Alle Vergaderingen</a>
            </h3>
            <p>{{ languages[page.lang].sources }}:
                <a href="https://dekamer.be" target="_blank">dekamer.be</a>,
                <a href="https://public.regimand.be" target="_blank">public.regimand.be</a>
            </p>
            <p>Contact:
                <a href="mailto:info@zijwerkenvooru.be" target="_blank">info@zijwerkenvooru.be</a>
            </p>
        </div>
        <!-- SOCIALS -->
        <div class="flex column links" style="gap: 1rem; margin-bottom: 2rem; gap: 2rem;">
            <h2>Wil je updates ontvangen?</h2>
            <div
                style="display: flex; gap: 1rem; align-items: center;">
                <p>Volg ons op</p>
                <!-- BLUESKY -->
                <a href="https://bsky.app/profile/zijwerkenvooru.be" target="_blank" aria-label="Bluesky" class="icon-link">
                    <img src="../assets/img/bsky.svg" alt="Bluesky">
                </a>
            </div>
            <h2>Gelijkaardige websites</h2>
            <div
                    style="display: flex; gap: 1rem; align-items: center;">

                <!-- BLUESKY -->
                <a href="https://oprecht.brussels" target="_blank" aria-label="oprecht.brussels" class="icon-link">
                    <img src="https://f7bb7528748ec5ea625ab49cf1169f50.cdn.bubble.io/cdn-cgi/image/w=384,h=59,f=auto,dpr=2,fit=contain/f1731504693310x216720670964956740/Oprecht%20new%20icon%20%281%29.png" alt="Bluesky">
                </a>
            </div>
        </div>
    </div>
    <div id="wcb" class="carbonbadge"></div>
    <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
</footer>
